In [3]:
import pandas as pd

In [4]:
df=pd.read_csv('./vgsales.csv')
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

# Which company is the most common video game publisher?

In [5]:
most_common_publisher =df["Publisher"].value_counts().idxmax()
most_common_publisher

'Electronic Arts'

# Whatâ€™s the most common platform?

In [6]:
most_common_platform=df["Platform"].value_counts().idxmax()
most_common_platform

'DS'

# What about the most common genre?

In [7]:
most_common_genre=df["Genre"].value_counts().idxmax()
most_common_genre

'Action'

# What are the top 20 highest grossing games?

In [8]:
df_highest = df.copy()
highest_grossing_games = df_highest.sort_values('Rank').head(20)[['Name','Global_Sales']]
highest_grossing_games

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

# For North American video game sales, whatâ€™s the median?
* Provide a secondary output showing ten games surrounding the median sales output
* assume that games with same median value are sorted in descending order

In [9]:
NA_med=df['NA_Sales'].median()
NA_med

0.08

In [10]:
with_same_median = df[df['NA_Sales']==NA_med]
middle_point=len(with_same_median)//2
result = with_same_median[middle_point-5: middle_point+5]
result

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
9931,9933,Spider-Man: Edge of Time,3DS,2011.0,Action,Activision,0.08,0.03,0.00,0.01,0.12
9934,9936,Turok: Evolution,GBA,2002.0,Shooter,Acclaim Entertainment,0.08,0.03,0.00,0.00,0.12
9957,9959,Deadpool,XOne,2015.0,Action,Activision,0.08,0.03,0.00,0.01,0.12
9996,9998,GT Advance 2: Rally Racing,GBA,2001.0,Racing,THQ,0.08,0.03,0.00,0.00,0.11
10000,10002,A Witch's Tale,DS,2009.0,Role-Playing,Nippon Ichi Software,0.08,0.00,0.03,0.01,0.11
10012,10014,Nickelodeon Dance,X360,2011.0,Misc,Take-Two Interactive,0.08,0.02,0.00,0.01,0.11
10020,10022,Phantasy Star Collection,GBA,2002.0,Role-Playing,Atari,0.08,0.03,0.00,0.00,0.11
10022,10024,LEGO Knights' Kingdom,GBA,2004.0,Action,THQ,0.08,0.03,0.00,0.00,0.11
10024,10026,Family Game Night 4: The Game Show,PS3,2011.0,Misc,Electronic Arts,0.08,0.02,0.00,0.01,0.11
10026,10028,NBA Jam 2002,GBA,2002.0,Sports,Acclaim Entertainment,0.08,0.03,0.00,0.00,0.11

# For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [11]:
top_selling_game = df.copy()
top_Game = top_selling_game.head(1)
x = top_Game["NA_Sales"]
y = top_selling_game["NA_Sales"].mean()
std_1 = top_selling_game['NA_Sales'].std()
z_score=(x-y)/std_1
z_score

0    50.478988
Name: NA_Sales, dtype: float64

# The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [12]:
df_copy = df.copy()
pub_1 = df_copy[(df_copy["Platform"]=='Wii')]
pub_2 = df_copy[(df_copy["Platform"]!='Wii')]
result = (pub_2["Global_Sales"].mean(),pub_1["Global_Sales"].mean())
result

(0.5233896418516336, 0.6994037735849057)

# Come up with 3 more questions that can be answered with this data set.

# AVG Sales of NA

In [13]:
Avg=df["NA_Sales"].mean()
Avg

0.26466742981082064

# Top Rank in 1995

In [14]:
df[df["Year"]==1995].sort_values("Rank").head(1)['Rank']

187    188
Name: Rank, dtype: int64

# Highest Ranked sport game in all years

In [15]:
most_common_Genre=df[df["Genre"]=='Sports'].sort_values("Rank")
most_common_Genre.head(1)['Name']

0    Wii Sports
Name: Name, dtype: object

In [21]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(most_common_publisher, 'Electronic Arts')
    assert_equal(most_common_platform, 'DS')
    assert_equal(most_common_genre, 'Action')
    assert_equal(highest_grossing_games.iloc[19].Name, 'Brain Age: Train Your Brain in Minutes a Day')
    assert_equal(highest_grossing_games.iloc[0].Name, 'Wii Sports')
    assert_equal(Avg, 0.26466742981082064)
    assert_equal(result, (0.5233896418516336, 0.6994037735849057))

    print("Success!!!")

test()

Success!!!